:root{
    --btn-color:#E76F51;
    --txt-color:#198754;
    --p-color: #6C6C6C;
    --footer-color:#0B0D17;
    --header-bg-color: #212529;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
img {
    max-width: 100%;
    display: block;
    border: 0;
  }
/* reset code end */
/* General styles */
nav {
   background: var(--header-bg-color);
    color: white;
    position: sticky;
    top: 0;
    z-index: 11;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.logo .logo-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #4eda4e;
    border-radius: 50%;
    right: 0;
    top: 10px;
    left: 260px;
}

.logo {
    position: relative;
}

.logo h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 3rem;
    font-weight: normal;
}

.nav-links {
    display: flex;
    column-gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links a:nth-child(1){
    color: white;
}
.nav-links a {
    color: rgba(255, 255, 255, .55);
    font-size: 1.3rem;
    transition: .5s;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, .77);
}

/* Responsive Styles */
.hamburger-menu {
    display: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}
/* navbar end */
/* banner start */
#banner{
    background: url(/img/awesomebike.jpg);  
    height: 85vh;
    color: white;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: left;
    position: relative;
}

.banner-content{
    padding: 10% 2%;
}
.banner-content h3{
    color: #E0E0E0;
    line-height: 3rem;
    font-weight: normal;
}
.banner-content h1{
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
}
.banner-content p{
    width: 58%;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.banner-btn{
    background-color: #E76F51;
    border: none;
    color: white;
    padding: 1% 3%;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: .4rem;
    position: relative;
    z-index: 1;
}
.banner-btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(133,38,196,1) 0%, rgba(25,75,217,1) 53%, rgba(72,200,13,1) 100%);
    border-radius: .4rem;
    width: 100%;
    transition: .5s;
    height: 100%;
    z-index: -1;
    transform: scale(0);
}
.banner-btn:hover::before{
    transform: scale(1);
}

/* header end */
/* feature bike section start */
#feature-bike{
    background: url(/img/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-bike-header{
    text-align: center;
}
.featured-bike-header h1{
    color: #170f44;
    font-size: 3rem;
    padding-top: 4rem;
    margin-bottom: 10px;
}
.featured-bike-header h4{
    color: tomato;
    position: relative;
    margin-top: 1rem;
    font-size: 1.4rem;
}
.featured-bike-header h4::after{
    content: "";
    position: absolute;
    top: 40px;
    opacity: .6;
    left: 0;
    right: 0;
    background: tomato;
    width: 100px;
    height: 2px;
    margin: auto;
}

.feature-bike-1{
    padding: 6%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}
.feature-bike-1 img{
    width: 35rem;
    transition: .5s;
}
.feature-bike-1 img:hover{
    transform: scale(1.1);
}
/* ever section start */
#ever{
    background-color: #0D0925;
    padding:1% 5%;
    font-family: Poppins, sans-serif;
}
.ever-head{
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
    color: tomato;
    position: relative;
}
.ever-head::after{
    content: "";
    margin:0 auto;
    position: absolute;
    width: 100px;
    height: 2px;
    opacity: .4;
    background: tomato;
    left: 0;
    right: 0;
    top: 4.5rem;
}
.Motor-Company{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
}

.Motor-Company img{
    height: auto;
    width: 45%;
    transition: .6s;
    object-fit: cover;
}
.Motor-Company img:hover{
    transform: scale(1.05);
}
.motor-company-txt{
    width: 50%;
}
.motor-company-txt h1{
    color: #E76F51;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.motor-company-txt h5{
   color: rgb(17, 51, 17);
    margin-bottom: 30px;
    font-size: 1.1rem;
}

    .motor-company-txt p{
        color: var(--p-color);
        font-size: 1.4rem;
        padding: 10px 0;
    }
/* ever section end */
/* <!-- bike card --> */

#bike-card{
    background: #333333;
    font-family: Poppins, sans-serif;
    padding: 1%;
}
.bike-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 30px;
}
.bike-card-head{
    font-size: 2rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    color: #0D0925;
}
.bike-card-head::after{
    content: "";
    position: absolute;
    top: 120px;
    opacity: .6;
    left: 0;
    right: 0;
    background: tomato;
    width: 100px;
    height: 2px;
    margin: auto;
}
.bike-card{
    background-color: #555555;
    padding: 8%;
    border-radius: 10px;
}
.bike-card img{
    transition: .5s;
    border-radius: 10px;
}
.bike-card img:hover{
    transform: scale(1.05);
}
.bike-card h4{
    font-size: 1.6rem;
    color: #E76F51;
    line-height: 4rem;
}
.bike-card p{
    color: var(--p-color);
    font-size: 1.5rem;
    line-height: 2rem;
}

.bike-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.bike-btn h2{
    color: #198754;
    font-size: 2.5rem;
}
.bike-btn button{
    background-color: #E76F51;
    border: none;
    color: white;
    padding: 1.3rem 2.5rem;
    font-weight: bolder;
    border-radius: 10px;
}

/* bike section end */
/* user section start */
#user{
    background: #333333;
    font-family: Poppins, sans-serif;
    padding: 1%;
}

.user-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 30px;
}
.user-head{
    text-align: center;
    font-size: 2.5rem;
    padding: 4% 0;
    position: relative;
}
.user-head::after{
    content: "";
    position: absolute;
    opacity: .6;
    left: 0;
    right: 0;
    bottom: 50px;
    background: tomato;
    width: 100px;
    height: 2px;
    margin: auto;
}
.user-card{
    background: #555555;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-card img{
    width: 40%;
    margin: 20px 0;
    transition: .5s;
}
.user-card img:hover{
    transform: scale(1.05);
}
.user-card p{
    color: var(--p-color);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.user-star{
    text-align: center;
}
.user-star i{
    font-size: 1.4rem;
}
.user-star h4{
    font-size: 1.5rem;
    line-height: 3rem;
}
.user-star h5{
    font-size: 1.2rem;
}

/* user section end */
/* question section start*/
#question{
    background-color: #222222;
    font-family: Poppins, sans-serif;
}
.question-head{
    text-align: center;
    font-size: 2.5rem;
    padding: 4% 0;
    position: relative;
}
.question-head::after{
    content: "";
    position: absolute;
    opacity: .6;
    left: 0;
    right: 0;
    bottom: 50px;
    background: tomato;
    width: 100px;
    height: 2px;
    margin: auto;
}
.question-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    justify-content: center;
    gap: 40px;
}
.question-img img{
    transition: .5s;
}
.question-img img:hover{
    transform: scale(1.03);
}

.question-txt details{
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    padding: 0;
    border: 5px solid #C2DBFE;
}

.question-txt details summary{
    background: #E7F1FF;
    padding: 1rem;
    transition: .8s;
    position: relative;
}
.question-txt details summary i{
    position: absolute;
    right: 20px;
    font-size: 1.2rem;
    color: #212529;
}

.question-txt details p{
    margin-top: 20px;
    background: white;
    color: black;
    transition: .5s;
    margin: 0;
    padding: 1rem;
}
/*  question section end */
/* footer section start */
#footer{
    background: #0B0D17;
    color: white;
    font-family: Poppins, sans-serif;
    padding: 3%;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-txt a{
    color: white;
    font-size: 1.3rem;
    margin: 0 10px;
    font-weight: normal;
    line-height: 3rem;
}
.footer-txt p{
    font-size: 1.5rem;
    line-height: 6rem;
}
.footer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}
.footer-img img{
    margin: 15px 0;
    width: 13rem;
}
.footer-img h1{
    font-size: 2rem;
}